<div class="jumbotron">
	<div class="container">
		<h1>Tasy Schematics Structure Tool</h1>
		<p>Create the your function structure on GitHub.</p>
		<div class="row">
			<div class="col-md-4 ">
				<form ng-submit="$ctrl.save($ctrl.config)">
					<div class="form-group">
						<label for="branch">Branch name:</label>
						<input type="text" ng-model="$ctrl.config.branch" class="form-control" id="branch">
						<label for="functionName">Function name:</label>
						<input type="text" ng-model="$ctrl.config.functionName" class="form-control" id="functionName">
						<label for="functionCode">Function code:</label>
						<input type="text" ng-model="$ctrl.config.functionCode" class="form-control" id="functionCode">
						<label for="schematicsFunctionCode">Schematics function code:</label>
						<input type="text" ng-model="$ctrl.config.schematicsCode" class="form-control" id="schematicsFunctionCode">
						<label for="componentCode">First component code:</label>
						<input type="text" ng-model="$ctrl.config.firstComponent" class="form-control" id="componentCode">
					</div>
					<button type="submit" class="btn btn-success">Create Structure</button>
				</form>
			</div>
		</div>
	</div>
</div>